//Variable Overrides

// Variable Overrides 
$theme-colors: (
  "primary": #ffffff
);
$secondary: #d9e1f2;
$body-bg: #ffffff;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 0px solid rgb(0, 0, 0);
}

.navbar-brand {
    padding-top: 0.5rem !important;
    padding-bottom: 0.2rem !important;
    margin-right: 50% !important;
    font-size: 36px !important;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #000000;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none !important;
  margin-left: 11px;
  background: transparent !important;
  color: #000000 !important;
}

.navbar-toggler .top-bar {
    color: #000000 !important;
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
.navbar-toggler .middle-bar {
    color: #000000 !important;
    opacity: 0;
    margin-right: 0px;
}

.navbar-toggler .bottom-bar {
    color: #000000 !important;
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    margin-right: 0px;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}


button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important; 
}

.navbar-nav a {
    font-family: 'Open Sans', sans-serif;
}

.navbar a {
    font-family: 'Abril Fatface', cursive;
}


/// Card link styling ///
.card {
    border: 0px !important;
}
.card a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    color: #000000
}

.card a:link {
    text-decoration: none;
    color: black;
}
  
.card a:visited {
    text-decoration: none;
    color: black;
}

.card a:hover {
    text-decoration: none;
    color: black;
}

.card a:active {
    text-decoration: none;
    color: black;
} 

//////   HOVER OVER ITEM //////
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.middle {
    transition: 0s ease;
    opacity: 0;
    position: absolute;
    top: 92.25%;
    left: 85%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.middle button {
    border: none;
}
.middle button:link {
    border: none;
    text-decoration: none;
    background-color: white;
}
  
.middle button:visited {
    border: none;
    text-decoration: none;
    background-color: white;
}

.middle button:hover {
    border: none;
    text-decoration: none;
    background-color: white;
}

.middle button:active {
    border: none;
    background-color: white;
    text-decoration: none;
} 

//Screen Size formatting
// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) { 
    .navbar-brand {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 5px !important;
        margin-left:  0px !important;
    }

    .card  {
        padding-right: 90px !important;
        padding-left: 90px !important;
    }
}


@media (min-width: 576px) { 
    .navbar-brand {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 50px !important;
        margin-left:  50px !important;
    }

    .card  {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .navbar-brand {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 150px !important;
        margin-left:  150px !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 280px !important;
        margin-left:  260px !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .navbar-brand {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 390px !important;
        margin-left:  360px !important;
    }
}
// Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";
